{% extends "templete.html" %}
{% block conteudo %}

<div class="container">
    <form method="post" action="/adicionar">
        <fieldset>
            
            <div class="mb-3">
                <label for="nome">Nome da Musica:</label>
                <input type="text" name="nome" id="nome" class="form-control"><br>
            </div>

            <div class="mb-3">
                <label for="cantor">Cantor | Banda | Grupo:</label>
                <input type="text" name="cantor" id="cantor" class="form-control"><br>
            </div>

            <div class="mb-3">
                <label for="genero">Genero:</label>
                <input type="text" name="genero" id="genero" class="form-control"><br>
            </div>
            
            <div class="mb-3" >
                <button type="submit" class="btn btn-primary">Cadastra Musica
                </button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}