<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastra Musicas</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/adicionar">
            <fieldset>
                <legend>Digite as Informações da Musica</legend>

                <div class="mb-3">
                    <label for="nome">Nome da Musica:</label>
                    <input type="text" name="nome" id="nome" class="form-control"><br>
                </div>

                <div class="mb-3">
                    <label for="cantor">Cantor | Banda | Grupo:</label>
                    <input type="text" name="cantor" id="cantor" class="form-control"><br>
                </div>

                <div class="mb-3">
                    <label for="genero">Genero:</label>
                    <input type="text" name="genero" id="genero" class="form-control"><br>
                </div>
                
                <div class="mb-3" >
                    <button type="submit" class="btn btn-primary">Cadastra Musica
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>