<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastra Musicas</title>
</head>
<body>

    <form method="post" action="/adicionar">
        <label for="">Nome da Musica:</label>
        <input type="text" name="nome"><br>
        <label for="">Cantor | Banda | Grupo:</label>
        <input type="text" name="cantor"><br>
        <label for="">Genero:</label>
        <input type="text" name="genero"><br>
        
        <button type="submit">Cadastra Musica
        </button>

    </form>
    
</body>
</html>