{% extends "templete.html" %}
{% block conteudo %}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Musica</th>
            <th>Canto / Grupo / Banda</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        {% for musica in musicas %}
        <tr>
            <td>{{musica.nome}}</td>
            <td>{{musica.cantorBanda}}</td>
            <td>{{musica.genero}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
  
{% endblock %}