<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista Musicas</title>
    <style type="text/css">
    
        table, td, th{
            border: 1px solid black;
        }
      


    </style>
</head>
<body>

    <h2>Musicas Cadastradas - {{titulo}}</h2>

    <table>

        <tr>
            <th>Musica</th>
            <th>Canto / Grupo / Banda</th>
            <th>Genero</th>
        </tr>

        <tr>
            <td>Ousadia e alegria</td>
            <td>Thiaguinho</td>
            <td>Pagode</td>
        </tr>

        <tr>
            <td>Black in Black</td>
            <td>ACDC</td>
            <td>Rock</td>
        </tr>

        <tr>
            <td>Isis</td>
            <td>Mc Kako</td>
            <td>Funk</td>
        </tr>

        <tr>
            <td>Aperta start</td>
            <td>Delacruz</td>
            <td>Pop</td>
        </tr>
    </table>
    
</body>
</html>