<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
</head>
<body>
    
    <form method="post" action="autenticar">
        <fieldset>
            <div class="mb-3">
                <label for="login">Login</label><br>
                <input type="text" class="form-control" name="login" id="login"><br>
            </div> 

            <div class="mb-3">   
                <label for="senha">Senha</label><br>
                <input type="password" class="form-control" name="senha" id="senha"><br>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Logar</button>
            </div>
        </fieldset>
    </form>



</body>
</html>